$sprites-svg:
    $icon--bookmark-svg,
    $icon--spaark_design_icicle_compass-svg,
    $icon--spaark_design_icicle_cylinder-2-svg,
    $icon--spaark_design_icicle_eyedropper-svg,
    $icon--spaark_design_icicle_filter-svg,
    $icon--spaark_design_icicle_paint-svg,
    $icon--spaark_design_icicle_picture-svg,
    $icon--spaark_design_icicle_star-svg,
    $icon--spaark_design_icicle_vector-svg,
;

$sprites-png:
    $icon--bookmark-png,
    $icon--spaark_design_icicle_compass-png,
    $icon--spaark_design_icicle_cylinder-2-png,
    $icon--spaark_design_icicle_eyedropper-png,
    $icon--spaark_design_icicle_filter-png,
    $icon--spaark_design_icicle_paint-png,
    $icon--spaark_design_icicle_picture-png,
    $icon--spaark_design_icicle_star-png,
    $icon--spaark_design_icicle_vector-png,
;

$sprites-png-fallback:
    $icon--bookmark-png-fallback,
    $icon--spaark_design_icicle_compass-png-fallback,
    $icon--spaark_design_icicle_cylinder-2-png-fallback,
    $icon--spaark_design_icicle_eyedropper-png-fallback,
    $icon--spaark_design_icicle_filter-png-fallback,
    $icon--spaark_design_icicle_paint-png-fallback,
    $icon--spaark_design_icicle_picture-png-fallback,
    $icon--spaark_design_icicle_star-png-fallback,
    $icon--spaark_design_icicle_vector-png-fallback,
;

