$icon--bookmark: 'icon--bookmark', 'svg/png/bookmark.png', 8px, 8px;


$icon--spaark_design_icicle_compass: 'icon--spaark_design_icicle_compass', 'svg/png/spaark_design_icicle_compass.png', 64px, 64px;


$icon--spaark_design_icicle_cylinder-2: 'icon--spaark_design_icicle_cylinder-2', 'svg/png/spaark_design_icicle_cylinder-2.png', 64px, 64px;


$icon--spaark_design_icicle_eyedropper: 'icon--spaark_design_icicle_eyedropper', 'svg/png/spaark_design_icicle_eyedropper.png', 64px, 64px;


$icon--spaark_design_icicle_filter: 'icon--spaark_design_icicle_filter', 'svg/png/spaark_design_icicle_filter.png', 64px, 64px;


$icon--spaark_design_icicle_paint: 'icon--spaark_design_icicle_paint', 'svg/png/spaark_design_icicle_paint.png', 64px, 64px;


$icon--spaark_design_icicle_picture: 'icon--spaark_design_icicle_picture', 'svg/png/spaark_design_icicle_picture.png', 64px, 64px;


$icon--spaark_design_icicle_star: 'icon--spaark_design_icicle_star', 'svg/png/spaark_design_icicle_star.png', 64px, 64px;


$icon--spaark_design_icicle_vector: 'icon--spaark_design_icicle_vector', 'svg/png/spaark_design_icicle_vector.png', 64px, 64px;


